/* ==========================================================================
   Table of Contents
   ========================================================================== */
/*

    0.  Includes
    1.  Icons
    2.  General
    3.  Utilities
    4.  General
    5.  Single Post
    6.  Third Party Elements
    7.  Pagination
    8.  Footer
    9.  Media Queries (Tablet)
    10. Media Queries (Mobile)

*/
@font-face {
  font-family: 'GESSTwoMedium';
  src: url('fonts/ge-ss-med.eot');
  src: url('fonts/ge-ss-med.eot') format('embedded-opentype'), url('fonts/ge-ss-med.woff') format('woff'), url('fonts/ge-ss-med.ttf') format('truetype'), url('fonts/ge-ss-med.svg#GESSTwoMedium') format('svg');
}
/* ==========================================================================
   2. General - Setting up some base styles
   ========================================================================== */
html {
  directory: rtl;
}
body {
  font-family: 'Segoe UI', tahoma, sans-serif;
  font-size: 2.0rem;
  line-height: 1.6em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'GESSTwoMedium', sans-serif;
}
h1 {
  letter-spacing: 0px;
  text-indent: 0px;
}
h2 {
  letter-spacing: 0px;
  text-indent: 0px;
}
dl dt {
  float: right;
  clear: right;
  text-align: left;
}
dl dd {
  margin-left: 0;
  margin-right: 200px;
}
blockquote {
  margin: 1.6em -2.2em 1.6em 0;
  padding: 0 1.6em 0 0;
  border-right: #4a4a4a 0.4em solid;
  border-left: 0;
}
blockquote small {
  margin: 0.8em 1.5em 0.8em 0;
}
table th,
table td {
  text-align: right;
}
/* ==========================================================================
   WP styles
   ========================================================================== */
/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
ul,
ol {
  margin: 0 3em 1.5em 0;
}
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1.5em;
}
/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
textarea {
  padding-right: 0;
  padding-left: 3px;
  width: 98%;
}
/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
  font-family: 'GESSTwoMedium', tahoma, sans-serif;
}
.main-navigation ul {
  float: left;
}
.main-navigation li {
  float: right;
}
.main-navigation ul ul {
  left: auto;
  right: 0;
}
.main-navigation ul ul ul {
  left: auto;
  right: 100%;
  top: 0;
}
/* Small menu */
.menu-toggle {
  right: auto;
  left: 0;
}
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  float: right;
  width: 50%;
}
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  float: left;
  text-align: right;
  width: 50%;
}
/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  left: auto;
  right: 5px;
}
/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}
/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* ==========================================================================
   4. General - The main styles for the the theme
   ========================================================================== */
/* The details of your blog. Defined in ghost/settings/ */
.blog-title,
.blog-description {
  letter-spacing: 0px;
  font-family: 'GESSTwoMedium', tahoma, sans-serif;
}
.post-meta {
  font-family: 'GESSTwoMedium', tahoma, sans-serif;
  word-break: initial;
}
.user-meta {
  padding: 0.3rem 100px 0 40px;
}
.user-image {
  left: auto;
  right: 0;
}
.publish-meta {
  right: auto;
  left: 0;
  text-align: left;
}
/* ==========================================================================
/* ==========================================================================
/* ==========================================================================
/* ==========================================================================
/* ==========================================================================
/* ==========================================================================
/* ==========================================================================
/* ==========================================================================
/* ==========================================================================
/* ==========================================================================
/* ==========================================================================
/* ==========================================================================
/* ==========================================================================
/* ==========================================================================
/* ==========================================================================


/* ==========================================================================
   5. Single Post - When you click on an individual post
   ========================================================================== */
/* Tweak the .post wrapper style */
.post-template .post {
  margin-top: 0;
  border-bottom: none;
  padding-bottom: 0;
}
/* Kill that stylish little circle that was on the border, too */
.post-template .post:after {
  display: none;
}
/* Insert some mad padding up in the header for better spacing */
.post-template .post-header {
  padding: 60px 0;
  text-align: center;
}
.post-header img {
  padding-top: 1rem;
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  transition: opacity ease 0.6s;
}
.post-template .blog-title {
  display: inline-block;
  padding: 2.5rem 0;
}
/* Keep large images within the bounds of the post-width */
.post-content img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  padding: 1em;
}
/* The author credit area after the post */
.post-footer {
  position: relative;
  margin: 4rem 0 0 0;
  padding: 4rem 0 0 0;
  border-top: #EBF2F6 1px solid;
}
.post-footer h4 {
  font-size: 1.8rem;
  margin: 0;
}
.post-footer p {
  margin: 1rem 0;
  font-size: 1.4rem;
  line-height: 1.6em;
}
/* Create some space to the right for the share links */
.post-footer .author {
  margin-right: 180px;
  margin-bottom: 3rem;
}
.post-footer .author a {
  text-decoration: none;
}
/* Drop the share links in the space to the right.
   Doing it like this means it's easier for the author bio
   to be flexible at smaller screen sizes while the share
   links remain at a fixed width the whole time */
.post-footer .share {
  position: absolute;
  top: 4rem;
  right: 0;
  width: 140px;
}
.post-footer .share a {
  font-size: 1.8rem;
  display: inline;
  margin: 1.4rem 0 1.6rem 1.6rem;
  color: #BBC7CC;
  text-decoration: none;
}
.post-footer .share a:hover {
  color: #50585D;
}
/* ==========================================================================
   6. Third Party Elements - Embeds from other services
   ========================================================================== */
/* Github */
.gist table {
  margin: 0;
  font-size: 1.4rem;
}
.gist .line-number {
  min-width: 25px;
  font-size: 1.1rem;
}
/* Social links */
.social-icons {
  margin-top: 15px;
}
.social-icons a {
  text-decoration: none;
  font-size: 1.3em;
  margin: 0 5px;
  color: white;
}
.blog-title a:hover,
.social-icons a:hover {
  color: #57A3E8;
}
/* Comments */
.comments-area {
  width: 80%;
  max-width: 700px;
  margin: 4rem auto;
  padding-bottom: 4rem;
}
.comment-form-comment label {
  width: 100%;
  display: inline-block;
}
.form-allowed-tags {
  width: 80%;
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  color: #9EABB3;
  margin: -1rem;
}
.comment-subscription-form {
  clear: both;
  margin-top: 1rem;
}
.form-submit #submit {
  max-width: 18%;
  float: left;
  border-width: 3px;
  background: none;
  display: inline-block;
  padding: 15px;
  border: #EBF2F6 2px solid;
  text-decoration: none;
  transition: border ease 0.3s;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  color: #9EABB3;
}
/* Main widget wrapper */
.widget-area {
  width: 80%;
  max-width: 700px;
  margin: 4rem auto;
  padding-bottom: 4rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  color: #9EABB3;
}
.widget-area h1 {
  font-size: 2.5rem;
}
.widget-area aside {
  float: left;
  width: 30%;
  height: 260px;
  padding: 2rem 1.5%;
  overflow: hidden;
}
.search-submit {
  border-width: 3px;
  background: none;
  display: inline-block;
  padding: 15px;
  border: #EBF2F6 2px solid;
  text-decoration: none;
  border-radius: 30px;
  transition: border ease 0.3s;
}
.search-submit:hover,
.form-submit #submit:hover {
  border-color: #9EABB3;
}
#main > header.page-header {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #9EABB3;
  text-align: center;
}
#main > header.page-header > h1 {
  font-size: 1.3rem;
  font-weight: normal;
  line-height: normal;
  text-indent: 0;
  letter-spacing: normal;
  margin: 0 4rem;
  padding: 0;
}
/* ==========================================================================
   7. Pagination - Tools to let you flick between pages
   ========================================================================== */
/* The main wrapper for our pagination links */
.pagination {
  position: relative;
  width: 80%;
  max-width: 700px;
  margin: 4rem auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  color: #9EABB3;
  text-align: center;
}
.pagination a {
  color: #9EABB3;
}
/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
  position: absolute;
  display: inline-block;
  padding: 0 15px;
  border: #EBF2F6 2px solid;
  text-decoration: none;
  border-radius: 30px;
  transition: border ease 0.3s;
}
.older-posts {
  right: 0;
}
.page-number {
  display: inline-block;
  padding: 2px 0;
}
.newer-posts {
  left: 0;
}
.older-posts:hover,
.newer-posts:hover {
  border-color: #9EABB3;
}
/* ==========================================================================
   8. Footer - The bottom of every page
   ========================================================================== */
.site-footer {
  position: relative;
  margin: 0;
  padding: 4rem 0;
  border-top: #EBF2F6 1px solid;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.7em;
  color: #BBC7CC;
  text-align: center;
  background: #F7FAFB;
}
.site-footer a {
  color: #BBC7CC;
  text-decoration: underline;
}
.site-footer a:hover {
  color: #50585D;
}
.poweredby .icon-ghost {
  font-weight: 700;
  text-decoration: none;
}
.poweredby .icon-ghost:hover {
  text-decoration: none;
}
.poweredby .icon-ghost:before {
  font-size: 1rem;
  margin-right: 0.2em;
}
/* The subscribe icon on the footer */
.subscribe {
  width: 28px;
  height: 28px;
  position: absolute;
  top: -14px;
  left: 50%;
  margin-left: -15px;
  border: #EBF2F6 1px solid;
  text-align: center;
  line-height: 2.4rem;
  border-radius: 50px;
  background: #fff;
  transition: box-shadow 0.5s;
}
/* The RSS icon, inserted via icon font */
.subscribe:before {
  color: #D2DEE3;
  font-size: 10px;
  position: absolute;
  top: 9px;
  left: 9px;
  font-weight: bold;
  transition: color 0.5s ease;
}
/* Add a box shadow to on hover */
.subscribe:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 3px;
  transition: box-shadow 0.25s;
}
.subscribe:hover:before {
  color: #50585D;
}
/* CSS tooltip saying "Subscribe!" - initially hidden */
.tooltip {
  opacity: 0;
  display: inline-block;
  padding: 4px 8px 5px 8px;
  position: absolute;
  top: -23px;
  left: -21px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.1rem;
  line-height: 1em;
  text-align: center;
  background: #50585D;
  border-radius: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, top 0.3s ease;
}
/* The little chiclet arrow under the tooltip, pointing down */
.tooltip:after {
  content: "";
  border-width: 5px 5px 0 5px;
  border-style: solid;
  border-color: #50585D transparent;
  display: block;
  position: absolute;
  bottom: -4px;
  left: 50%;
  margin-left: -5px;
  z-index: 220;
  width: 0;
}
/* On hover, show the tooltip! */
.subscribe:hover .tooltip {
  opacity: 1;
  top: -33px;
}
/* ==========================================================================
   9. Media Queries - Smaller than 900px
   ========================================================================== */
@media only screen and (max-width: 900px) {
  blockquote {
    margin-left: 0;
  }
  .site-head {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    min-height: 240px;
    padding: 15% 0;
  }
  .blog-title {
    font-size: 4rem;
    letter-spacing: -1px;
  }
  .blog-description {
    font-size: 1.7rem;
    line-height: 1.5em;
  }
  .post {
    font-size: 0.9em;
    line-height: 1.6em;
  }
  .post-template .post {
    padding-bottom: 1rem;
  }
  .post-template .post-header {
    padding: 40px 0;
  }
  h1 {
    font-size: 4.8rem;
    text-indent: -2px;
  }
  h2 {
    font-size: 3.8rem;
  }
  h3 {
    font-size: 3.3rem;
  }
  h4 {
    font-size: 2.8rem;
  }
}
/* ==========================================================================
   10. Media Queries - Smaller than 500px
   ========================================================================== */
@media only screen and (max-width: 500px) {
  .blog-logo img {
    max-height: 80px;
  }
  .inner,
  .pagination {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }
  .post {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 0.8em;
    line-height: 1.6em;
  }
  .site-head {
    padding: 10% 0;
  }
  .blog-title {
    font-size: 3rem;
  }
  .blog-description {
    font-size: 1.5rem;
  }
  h1,
  h2 {
    font-size: 3rem;
    line-height: 1.1em;
    letter-spacing: -1px;
  }
  h3 {
    font-size: 2.8rem;
  }
  h4 {
    font-size: 2.3rem;
  }
  .post-template .post {
    padding-bottom: 0;
  }
  .post-template .post-header {
    padding: 30px 0;
  }
  .post-meta {
    font-size: 1.3rem;
  }
  .post-footer {
    padding: 4rem 0;
    text-align: center;
  }
  .post-footer .author {
    margin: 0 0 2rem 0;
    padding: 0 0 1.6rem 0;
    border-bottom: #EBF2F6 1px dashed;
  }
  .post-footer .share {
    position: static;
    width: auto;
  }
  .post-footer .share a {
    margin: 1.4rem 0.8rem 0 0.8rem;
  }
  .older-posts,
  .newer-posts {
    position: static;
    margin: 10px 0;
  }
  .page-number {
    display: block;
  }
  .site-footer {
    margin-top: 6rem;
    font-size: 1.1rem;
  }
}
/* ==========================================================================
   End of file. Media queries should be the last thing here. Do not add stuff
   below this point, or it will probably fuck everything up.
   ========================================================================== */
